{
  "extends": "airbnb",
  "globals": {
    "apiToken": true,
    "config": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeEach": true,
    "window": true,
    "document": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "id-length": 0,
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "no-extra-parens": 0,
    "radix": 0
  }
}