language: node_js
cache:
  yarn: true
  directories:
    - node_modules
node_js:
  - "12"
script:
  - yarn run lint

notifications:
  slack:
    secure: HA/+sU3RGxPTbIp/sg0/rMPVW/fUiebEjv7AwLZLNUpmCig7ZdXrWyB0GZ41jtstnnf1URfUnbgeVCPT9nKbmcJZB67YpP5EhTt73wfgsq97sLpK604gIiDwi0qjF/ps0cspxvGf3kYBLvYHnI0BWJvk1W8WiSUEQrg6P5wlOfYmnhIG9N6X4B0o1GaUaBm5yLpLsvYcMjfLlBTk7P0F3h6EXKZdZxviBfUf/7cs9lIf3SHQnRQJUaT1F28XqovPaDTL5IdXkplVXFt4lUU8ve0J67ppyze3XznJNp8uc0ftn8k8LoxRmoiGrQzS+hfZMQjq/knopt81pfznc2dBEY9fesFRdHw7PVmV8weQrhBxB2DImsgD/ObGZubJpjAyafS6qPDENwLyKV4oX45vR7Tk5+jxR9lxU4yUwHeOcfdWDLElYQV8DBrjSwGXZ8q9z2fIyft+Q6enlPo25LoqkZH/kJAaYSEuN+uNJWrbTM32LQ16XD/F85nUnX6YSHgkqiohI6YUg9TcLTR/3qsr4+xFA7yZBnKEGRJ6iU+AWxucUpFFCNWK6ZIQvwoJoJ/TF82vpZojwDCKPnUrbkCbfRBPGkoIX5wHOLzt08xcg5R8Qpk13AoVV1Y+94E/vprkNYwrcfFapAcyABL0Euu4q+k1pRDJ2+XwzpNEXfUwv/E=

before_deploy: yarn run build
deploy:
  - provider: gcs
    bucket: floq-test
    local_dir: build
    upload-dir: projects
    cache_control: max-age=0
    acl: public-read
    access_key_id: GOOGFFWIXBHTD746XIUI
    secret_access_key:
      secure: Z2voEUfwMW00hAlj27fxrF5rKKexPQTpcG9HspVyWvRfrIB6umirgmxIN2xKwWMVNcfkyFrXnn8cmZtno3Y2VxiQMW9hIOpPsGwXd7VheEpc4t2umdixxFu7JwjX/+K59a86KOeCISS/dU8rsHKYbG3g5zKOSI4LQ0ZGkKfsvLZi+gZl+UXidW0wROosYbDeG7RW7oRvSXDq+ErtjReOPNyGODn08zzWzK2ApRzM1xkGJc7hqf8Y0i5icRRy+VqgRb7VIuMJedI2OvzMZDPqfkTI2W1zO1qY9r/xOqmN+vvKzT1D0AHFxPUNiHL3xssuBht8OfXgXOmk4G6JYUBP3u9aHpURBGLN/lk2nuptiezwH4QLldP1EPD7RLRyX1qoVVqj7oEBT27mLzL06H52yPxVoOaiv4GatIGnwPHBm+04RJ+RJ12AtPNKzJJUsCnAPpyU4ByhgnXtJgHYxp+4MPNcmB7k58mA8rjTNVgxfNSD6OQvh2sg5a/+Ea28kI8qaZkV8naj7YJ5ywKA3/0VfxBpVfTrPre8/ZeSXWcHF1GcYZCGq9c+d1AIBrSRwlQqeKTkrQXaSUTAVFJo1bYcCMPV9WcprSEKW0K69X7JtzMODY3L7T7+06EfFaGeQKr7DfDX+GD2oDsuAqbHW9WR7BdEeSSmnm2OVYPtT4niLfs=
    skip_cleanup: true
    on:
      branch: develop
      repo: blankoslo/floq-projects
  - provider: gcs
    bucket: floq
    local_dir: build
    upload-dir: projects
    cache_control: max-age=3600
    acl: public-read
    access_key_id: GOOGFFWIXBHTD746XIUI
    secret_access_key:
      secure: Z2voEUfwMW00hAlj27fxrF5rKKexPQTpcG9HspVyWvRfrIB6umirgmxIN2xKwWMVNcfkyFrXnn8cmZtno3Y2VxiQMW9hIOpPsGwXd7VheEpc4t2umdixxFu7JwjX/+K59a86KOeCISS/dU8rsHKYbG3g5zKOSI4LQ0ZGkKfsvLZi+gZl+UXidW0wROosYbDeG7RW7oRvSXDq+ErtjReOPNyGODn08zzWzK2ApRzM1xkGJc7hqf8Y0i5icRRy+VqgRb7VIuMJedI2OvzMZDPqfkTI2W1zO1qY9r/xOqmN+vvKzT1D0AHFxPUNiHL3xssuBht8OfXgXOmk4G6JYUBP3u9aHpURBGLN/lk2nuptiezwH4QLldP1EPD7RLRyX1qoVVqj7oEBT27mLzL06H52yPxVoOaiv4GatIGnwPHBm+04RJ+RJ12AtPNKzJJUsCnAPpyU4ByhgnXtJgHYxp+4MPNcmB7k58mA8rjTNVgxfNSD6OQvh2sg5a/+Ea28kI8qaZkV8naj7YJ5ywKA3/0VfxBpVfTrPre8/ZeSXWcHF1GcYZCGq9c+d1AIBrSRwlQqeKTkrQXaSUTAVFJo1bYcCMPV9WcprSEKW0K69X7JtzMODY3L7T7+06EfFaGeQKr7DfDX+GD2oDsuAqbHW9WR7BdEeSSmnm2OVYPtT4niLfs=
    skip_cleanup: true
    on:
      branch: master
      repo: blankoslo/floq-projects
