@import "common/floq/floq-vars.scss";

.column {
  display: flex;
  flex-direction: column;
  margin-top: $half-spacing;
  padding: $half-spacing;
  width: 100%;
  background-color: #f7f7f7;
  cursor: pointer;

  @media only screen and (min-width: 600px) {
    margin: -2rem -1rem -1rem 1rem;
    width: 176px;
  }

  .logo {
    margin: 50% auto;
    max-width: 80%;
    height: auto;
  }

  .tiles {
    margin: 2rem auto;
  }

  .tiles img {
    max-width: 80px;
    height: auto;
    margin: 0.25rem;
  }

  p {
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    font-size: 0.9375rem;
    color: #3c1345;
    line-height: 1.15;
  }
}
