@import "common/floq/floq-vars.scss";

.customer {
  display: inline-flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 1rem;

  @media only screen and (min-width: 600px) {
    max-width: 320px;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  color: $blank-purple-dark;

  padding: 0.5rem 0.2rem;
  border-bottom: 1px solid $blank-purple-dark;

  @media only screen and (min-width: 600px) {
    padding: 0;
    padding-bottom: $eight-spacing;
  }
}

.name {
  flex-grow: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action {
  cursor: pointer;
}
