$color-actionable: #fdf6c1;
$color-hover: #eeeded;
$color-purple: #d8c8f6;
$color-pink: #f7d1db;

.overview {
  width: 100%;
  margin: 0 auto;
}

.topbar {
  width: 100%;
  margin: 0;
  background-color: #efe5ff;
}

@media only screen and (min-width: 600px) {
  .topbar {
    padding: 1rem;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .projects {
    display: block;
    column-count: auto;
    column-width: 320px;
    column-fill: balance;
    column-gap: 24px;

    max-width: 80%;
    width: 100%;
    margin: 2rem auto;

    & > .customer {
      max-width: 320px;
      width: 100%;
    }
  }
}

.customer {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 16px;

  .customer-name {
    padding: 0.5rem;
    border-bottom: 1px solid #000000;
  }

  &:nth-child(even) .customer-name {
    background-color: $color-purple;
  }

  &:nth-child(odd) .customer-name {
    background-color: $color-pink;
  }
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  padding: 0.5rem;

  &.actionable {
    background-color: $color-actionable;
  }

  .name {
    justify-content: flex-start;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .code {
    color: #5e5d5d;
    font-size: 0.75rem;
  }

  &:hover {
    background-color: $color-hover;
  }
}
