@import "common/floq/floq-vars.scss";

.topbar {
  display: flex;
  flex-direction: column;
  min-height: min-content;

  background-color: #efe5ff;
  padding: $half-spacing;

  & > * {
    margin-bottom: $quarter-spacing;

    @media only screen and (min-width: 600px) {
      margin: inherit;
      margin-right: $half-spacing;
    }
  }

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    align-items: center;

    margin: 0;

    & > *:not(:last-child) {
      margin-right: $half-spacing;
    }
  }
}

.addButton {
  display: flex;
  align-items: center;
  flex: 1 1 1;

  margin: $eight-spacing;
  padding: $quarter-spacing;

  border: none;
  border-radius: $quarter-spacing;
  background-color: $blank-black;
  color: $blank-white;

  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media only screen and (min-width: 600px) {
    min-width: 4 * $spacing;
    min-height: $half-spacing;
  }
}

.searchWrapper {
  display: flex;

  margin: 0px 10px 0px 10px;
  height: 25px;

  border-radius: 20px;
  background-color: $blank-white;
  padding: 5px;

  @media only screen and (min-width: 600px) {
    width: 300px;
  }
}

.searchIcon {
  margin: 0px 10px 0px 10px;
  color: $floq-header-text !important;
}

.search {
  background: none;
  border: none;
  color: $floq-header-text !important;
  font-size: 1.2em;

  &:focus {
    outline: none;
  }
}

.search::placeholder {
  color: $floq-header-text;
  opacity: 1;
}
