@import url("https://fonts.googleapis.com/css?family=Roboto|Work+Sans&display=swap");

@import "./floq-colors.scss";

$spacing: 2rem;
$half-spacing: $spacing / 2;
$quarter-spacing: $spacing / 4;
$eight-spacing: $spacing / 8;
