$blank-pink: rgb(254, 56, 110);
$blank-purple: rgb(102, 0, 255);
$blank-purple-dark: rgb(60, 19, 69);
$blank-yellow: rgb(255, 240, 129);
$blank-yellow-light: rgba(255, 240, 129, 0.5);
$blank-piss-yellow: rgb(254, 247, 184);
$blank-white: rgb(255, 255, 255);
$blank-green: rgb(0, 241, 146);
$blank-purple-medium: #8d41ff;
$blank-green: #7ed321;
$blank-turquoise: #38fbfe;
$blank-black: #000000;
$blank-grey: #979797;

$floq-creamy-light-purple: #efe5ff;
$floq-list-background: #f8f8f8;
$floq-header-text: #424242;
