@import "common/floq/floq-vars.scss";

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: change-color($color: $blank-purple-dark, $alpha: 0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  overflow-y: auto;
  padding: $half-spacing;

  background-color: $blank-white;

  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  color: $blank-black;
}

.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
  color: $blank-black;
}

.title {
  color: $blank-purple-dark;
}

.back,
.close {
  flex-shrink: 1;

  & > i {
    cursor: pointer;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  margin: $spacing -#{$half-spacing} -#{$half-spacing} -#{$half-spacing};
}
