@import "common/floq/floq-vars.scss";

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;

  width: 100%;
  height: 100%;

  background-color: change-color($color: $blank-purple-dark, $alpha: 0.8);
}

.modal {
  display: inline-block;
  width: auto;
  height: auto;

  text-align: initial;

  margin: 10% auto;
  padding: $half-spacing;

  background-color: $blank-white;

  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  color: $blank-black;
}

.header {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  margin-bottom: 3rem;
}

.close {
  flex-grow: 1;

  & > i {
    float: right;
    cursor: pointer;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  margin: $spacing -#{$half-spacing} -#{$half-spacing} -#{$half-spacing};
}
