.floq-list {
  position: relative;
  .floq-list-header {
    display:flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: baseline;
    padding: 37px;

    & > h3 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
  .floq-list-row {
    padding: 16px 48px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease;
    &:hover {
      background-color: rgba(125,125,125,0.1);
    }
  }
}

.floq-details {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 232, 211, 0.4);

}

.floq-list-and-details {
  display:flex;

  &.floq-hide-list-mobile {
    .floq-list {
      @media (max-width: 620px) {
        display: none;
      }
    }
  }
  &.floq-hide-details-mobile {
    .floq-details {
      @media (max-width: 620px) {
        display: none;
      }
    }
  }
  .floq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: calc(100vh - 64px)
  }
  .floq-details {
    flex:1;
    .floq-details-sticky {
      @media (max-width: 620px) {
        position: static;
      }
      position: fixed;
      min-width: 320px;
    }
  }
}
.new-project-button {
  right: 0;
}

.projectRows {
  align-self: stretch;
  overflow: scroll;
}

.floq-inactive-projects-toggle {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}