@import "common/floq/floq-vars.scss";

.formcontrol {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;

  max-width: 100%;
  @media only screen and (min-width: 600px) {
    max-width: 16 * $spacing;
  }

  &.small {
    width: 25%;
  }

  &.medium {
    width: 75%;
  }

  &.large {
    width: 100%;
  }
}
