@import "common/floq/floq-vars.scss";

.wrapper {
  display: block;
  margin: $half-spacing 0 $eight-spacing 0;

  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  color: $blank-purple-dark;

  cursor: pointer;
  & > * {
    cursor: pointer;
  }
}

.label {
  margin-left: $quarter-spacing;
}
