@import "common/floq/floq-vars.scss";

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: $blank-purple-dark;

  & > *:not(:last-child) {
    margin-right: $half-spacing;
  }
}

.tab {
  text-decoration: none;
  cursor: pointer;
  padding-bottom: $eight-spacing;

  &.active {
    border-bottom: 4px solid $blank-purple;
  }
}
